.book-details-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(217, 222, 226);
}

.book-details-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .book-details-section {
    flex-direction: row;
  }
}

@media screen and (min-width: 787px) {
  .book-details-container {
    background-color: white;
    padding: 35px;
    display: flex;
    width: 50vw;
    border-radius: 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 785px) {
  .book-details-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-radius: 10px;
    align-items: center;
  }
}
.book-details-image {
  height: 40vh;
  width: 15vw;
  border-radius: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 786px) {
  .book-details-image {
    height: 30vh;
    width: 50vw;
    border-radius: 10px;
  }
}

.book-title {
  font-size: 20px;
  color: rgb(14, 22, 66);
  margin-top: 0px;
}

.book-details-author-name {
  font-size: 15px;
  color: gray;
  margin-bottom: 0px;
}

.about-heading {
  color: rgb(28, 26, 26);
  margin-top: 0px;
  font-size: 15px;
}
.book-details-avg-rating-heading {
  font-size: 14px;
  margin-top: 14px;
  margin-right: 10px;
}
.book-details-status-heading {
  font-size: 17px;
  margin-top: 0px;
}
.book-details-status {
  color: rgb(0, 47, 255);
  font-size: 15px;
}
.book-details-star-icon {
  color: rgb(247, 247, 76);
  font-size: 20px;
  margin-right: 5px;
  margin-top: 0px;
}

.book-details-rating-container {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

@media screen and (min-width: 787px) {
  .container2 {
    background-color: white;
    padding: 35px;
    width: 50vw;
    border-radius: 10px;
  }
}
@media screen and (max-width: 786px) {
  .container2 {
    padding: 35px;
    border-radius: 10px;
  }
}

.horizontal-line {
  border: 1px solid black;
  border-top: 0px;
}

.back-button {
  height: 30px;
  width: 90px;
  margin-top: 10px;
  align-self: flex-end;
  background-color: rgb(75, 200, 241);
  color: white;
  border: 0;
  border-radius: 7px;
  transition: 0.5s ease-in;
}

.back-button:hover {
  background-color: rgb(32, 58, 98);
}
